<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NextoryWebSuite">
<listeners>
         <listener class-name="common.TestNGCustomReportListener"></listener>
 </listeners>
<suite-files>
		<suite-file path = "./Sweden.xml" ></suite-file>
		<suite-file path = "./Finland.xml" ></suite-file>
		<suite-file path = "./Germany.xml" ></suite-file>
 </suite-files>	
</suite> 
	